.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.todo-list {
  background-color: white;
  position: relative;
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #efefef;
  box-shadow: 
    0 1px 1px rgba(0, 0, 0, 0.15),
    0 10px 0 -5px #eee,
    0 10px 1px -4px rgba(0, 0, 0, 0.15),
    0 20px 0 -10px #eee,
    0 20px 1px -9px rgba(0, 0, 0, 0.15);
  padding: 30px;
}

.todo-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 30px 20px 0;
  width: 70%;
  border-bottom: 1px solid #cecece;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  animation: new-todo 1s 1;
}

.delete-todo {
  transform: translateX(100%);
  opacity: 0;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  /* animation: new-todo 1s;
  animation-iteration-count: infinite; */
}

.add-todo {
  transform:  translate(100% , 0, 0);
  transition-duration: 1s;
  transition-timing-function: linear;
  /* animation: new-todo 1s;
  animation-iteration-count: 1; */
}

@keyframes new-todo {
  0% {
    opacity: 0;
    left: -100;
    margin-right: 100;
  }
  100% {
    opacity: 100%;
    left: 0;
    margin-right: 0;
  }
}